# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
checkModel.py

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Logs
*.log

# Test output
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Build
build/
dist/
*.egg-info/
.eggs/

# Misc
*.bak
*.swp
*.swo
*.tmp

public/*.csv
